<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to home_path, class: "navbar-brand" do %>
  <%= image_tag "readymeals-logo.png", class:"w-25" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="navbar-menu">
        <%= link_to home_path, id:"home-btn" do %>
          <div class="pr-2">---</div>
        <% end %>

        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdown">
          <%= link_to "Home", home_path, class: "dropdown-item" %>
          <%= link_to "My events", events_path, class: "dropdown-item" %>
          <%= link_to "New event", new_event_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<!--         <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My events", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
        </li> -->
