  <div class="cards">
    <div class="card-containter row" style="grid-gap: 20px;">
      <% @recipes.each do |recipe| %>
      <div>
        <%=  cl_image_tag recipe.photo.key, height: 300, width: 400, class: "big-card" %>
        <div class="d-flex justify-content-between align-items-right pt-3">
          <p class="m-0 green"><%= recipe.name %></p>
          <div class="d-flex align-items-center">
            <% if recipe.meals.empty? %>
              <p class="m-0">-</p>
            <% else %>
              <%= link_to "-", event_meal_path(@event, recipe.meals.first), method: :delete, class: "text-decoration-none btn-amount", remote: true, 'data-turbolinks-scroll': false  %>
            <% end %>
            <p class="m-0 mx-3"><%= @event.meals_with_recipe(recipe).count %></p>
            <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn-amount", remote: true, 'data-turbolinks-scroll': false  %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
