<div class="card-containter row big-cards-setup">
  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="position-relative pb-4">
        <%=  cl_image_tag recipe.photo.key, height: 300, width: 400, class: "big-card" %>
        <div class="hover-recipe-details container">
          <h4 class="text-center my-2">Instructions:</h4>
            <p><%= recipe.instructions %></p>
          <h4 class="text-center">Details:</h4>
            <p><%= recipe.details %></p>
          <h4 class="text-center">Ingredients:</h4>
            <ul>
              <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
                <li>
                  <p><%= recipe_ingredient.ingredient.name %>: <%= recipe_ingredient.ammount %> <%= recipe_ingredient.unit %></p>
                </li>
              <% end %>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-right pt-3 mt-1">
          <p class="m-0 align-self-center"><%= recipe.name %></p>
          <div class="d-flex align-items-center">
            <% if @event.meals_with_recipe(recipe).empty? %>
              <%= link_to "Add", event_meals_path(@event, recipe_id: recipe), method: :post, class: "btn oval", id: "add", remote: true, 'data-turbolinks-scroll': false  %>
            <% else %>
              <%= link_to "-", event_meal_path(@event, recipe.meals.first), method: :delete, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false  %>
              <p class="m-0 mx-3"><%= @event.meals_with_recipe(recipe).count %></p>
              <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
