<div class="white-background">
  <div class="container">
    <div class="container">
      <h3 class="pt-4 pb-3 text-center green"><strong>My events</strong></h3>

      <% @events.each do |event| %>

        <div class="d-flex separator-bottom mb-4">
          <div class="light-violet-block p-3">

            <%= link_to event_path(event), class:"no-text-decoration align-self-center" do %>
              <h4><%= event.title %></h4>
            <% end %>

            <div class="d-flex mt-4">
              <div class="mb-4 mr-5 align-self-center d-flex bd-highlight mb-3">

                <div class="my-auto p-2 bd-highlight">
                  <!-- quiero que el contenido de este div tenga menos espacio entre lineas -->
                  <p class="pt-2 subtitles">02.03.2021 - 05.03.2021</p>
                  <p class="subtitles"> <%= event.number_of_members %> members</p>
                </div>
<!--                 <div class="mt-3">
                  <% event.event_options.each do |option| %>
                    <p class="oval clickable active"><%= option.option.name %></p>
                  <% end %>
                </div> -->
              </div>

              <div class="d-flex pl-4 p-2 bd-highlight">
                <% event.meals.each do |meal| %>
                  <div class="mx-3">
                    <%= cl_image_tag meal.recipe.photo.key, class: "small-card" %>
                  </div>
                <% end %>
              </div>

              <%= link_to ingredient_list_path(event), class:"no-text-decoration ml-auto p-2 bd-highlight" do %>
                <div class="lilac-rectangular-card">
                  <%= image_tag "List_of_ingredients.png" %>
                  <p class="green text-center my-0 mx-2 flex-fill">List of ingredients</p>
                </div>
              <% end %>

            </div>


          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
