


<div class="white-background">
  <h1 class="pt-4 pb-4 text-center green"><strong>My events</strong></h1>

  <% @events.each do |event| %>
    <div class="selection-box w-50 mx-auto mb-5">

      <div class="d-flex align-items-center">
        <div class="w-25">
          <p class="subtitles"> <%= event.number_of_members %> members</p>
        </div>
        <div class="flex-grow-1 h-100 text-center">
          <%= link_to event_path(event), class:"no-text-decoration" do %>
            <h4 class="green"><%= event.title %></h4>
          <% end %>
        </div>
        <div class="w-25 text-right">
          <p class="subtitles">Monday 3 to Tuesday 4</p>
        </div>
      </div>

      <div class=" d-flex justify-content-center my-3">
        <%= link_to ingredient_list_path(event), class:"no-text-decoration" do %>
          <div class="main-rectangular-card">
            <%= image_tag "List_of_ingredients.png" %><p class="green my-0 mx-2">List of ingredients</p></div>
        <% end %>
      </div>

      <div class="d-flex cards row px-3 justify-content-center">
        <% event.meals.each do |meal| %>
          <%= cl_image_tag meal.recipe.photo.key, class: "list-card" %>
        <% end %>
      </div>


      <% unless event.event_options.count == 0 %>
        <div class="text-right">
          <p class="pt-4 mb-0"><small>Selected dietary preferences</small></p>
          <% event.event_options.each do |option| %>
            <p class="oval clickable active px-3" id="add"><small><%= option.option.name %></small></p>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>

</div>














