<div class="white-background">




  <div class="block w-100 d-flex flex-row-reverse justify-content-between mb-3 pt-5">
    <div class="align-self-right flex-grow-0">
      <div id="search-bar" style="background-color: rgb(236, 237, 254); border-radius: 30px;">
        <%= form_tag recipes_path, method: :get, class:"d-flex mx-auto my-4 justify-content-between" do %>
          <div class="align-self-center">
          <select data-placeholder="Browse!" class="select2" name="query" multiple="multiple">
            <option value=""></option>
            <% possible_searchs.each do |search| %>
              <option value="<%= search %>"><%= search %></option>
            <% end %>
          </select>
          </div>
          <div class="d-flex btn btn-search my-2">
            <i class="fas fa-search align-self-center py-0"></i>
            <%= submit_tag "Search", class: "btn btn-search py-0" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="align-self-center flex-grow-1">
      <h3 class="text-center green"><strong>Browse <em>all my</em> events</strong></h3>
      <h6 class="text-center green"><strong>and start choosing the right ones for your next event</strong></h6>
    </div>
    <div class="align-self-right flex-grow-0">
      <div class="text-secondary"> Weather in...</div>
    </div>
  </div>






  <% @events.each do |event| %>
    <div class="selection-box-index w-50 mx-auto my-5">

      <div class="d-flex align-items-center">
        <div class="w-25">
          <p class="subtitles"> <%= event.number_of_members %> members</p>
        </div>
        <div class="flex-grow-1 h-100 text-center">
          <%= link_to event_path(event), class:"no-text-decoration" do %>
            <h4 class="green"><%= event.title %></h4>
          <% end %>
        </div>
        <div class="w-25 text-right">
          <p class="subtitles">Monday 3 to Tuesday 4</p>
        </div>
      </div>

      <div class="d-flex cards row px-3 py-4 justify-content-center">
        <% event.meals.each do |meal| %>
          <%= cl_image_tag meal.recipe.photo.key, class: "list-card" %>
        <% end %>
      </div>

      <div class="d-flex justify-content-between">

        <% if event.event_options.count >= 1 %>
          <div class="text-left align-self-center">
            <p class="pt-4 mb-0"><small>Selected dietary preferences</small></p>
            <% event.event_options.each do |option| %>
              <p class="oval clickable active px-3" id="add"><small><%= option.option.name %></small></p>
            <% end %>
          </div>
          <% else %>
            <div class="text-left align-self-center">
            <p class="pt-4 mb-0"><small>No dietary preferences selected</small></p>
          </div>
        <% end %>

        <div class=" d-flex my-3">
          <%= link_to ingredient_list_path(event), class:"no-text-decoration" do %>
            <div class="main-rectangular-card">
              <%= image_tag "List_of_ingredients.png" %><p class="green my-0 mx-2">List of ingredients</p></div>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>

</div>














