<!-- <div class="container">

  <div class="d-flex justify-content-between mb-3 pt-5">
    <div class="subtitles align-self-center">
      <p> </p>
      <p> </p>
    </div>
    <div class="align-self-center">
      <h2 class="text-center"><%= @event.title %></h2>
      <p class="subtitles text-center"> <%= @event.number_of_members %> members</p>
    </div>
    <%= link_to " ↩︎ Back", event_path, id: :btn_back, class: "ml-auto p-0" %>
  </div>

  <div class="mx-auto">
    <div class="form-check w-50 text-center">
      <div class="list-group" id="list-tab" role="tablist">
        <% @ingredients_hash.each do |ingredient_id, ammount| %>
          <div class="list-group-item list-group-item-action" id="list-home-list" role="tab" aria-controls="home">
            <input class="form-check-input" type="checkbox" value="meat" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
             <p> <%= Ingredient.find(ingredient_id).name %>: <%= "#{ammount} #{Ingredient.find(ingredient_id).recipe_ingredients.first.unit}" %></p>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div> -->


<div class="container">

  <div class="w100 d-flex flex-row-reverse justify-content-between">

    <div class="align-self-right">
      <%= link_to " ↩︎ Back", event_path, id: :btn_back, class: "ml-auto p-0" %>
    </div>
    <div class="align-self-center">
      <h1 class="text-center"><%= @event.title %></h1>
      <div class="text-center text-secondary"><%= @event.number_of_members %> members</div>
    </div>
    <div class="align-self-right">
      <div class="text-secondary"> Weather in...</div>
    </div>
  </div>

  <div class="block">
    <div class="mx-auto">
      <% @ingredients_hash.each do |ingredient_id, ammount| %>
        <div class="d-flex align-items-center">
          <div class="w-25">Photo</div>
          <div class="flex-grow-1 h-100"><%= Ingredient.find(ingredient_id).name %></div>
          <div class="flex-grow-0 text-right"><%= "#{ammount} #{Ingredient.find(ingredient_id).recipe_ingredients.first.unit}" %></div>
          <div class="flex-grow-0 text-right">Check point</div>
        </div>
      <% end %>
    </div>
  </div>

</div>
















