<div class="container">

  <div class="w100 d-flex flex-row-reverse justify-content-between mb-3 pt-5">
    <div class="align-self-right">
      <%= link_to " ↩︎ Back", event_path, id: :btn_back, class: "ml-auto p-0" %>
    </div>
    <div class="align-self-center">
      <h1 class="text-center"><%= @event.title %></h1>
      <div class="text-center text-secondary"><%= @event.number_of_members %> members - <%= @event.meals.count %> meals </div>
    </div>
    <div class="align-self-right">
      <div class="text-secondary" style="opacity:0"> Weather in...</div>
    </div>
  </div>

  <div class="block pb-5">
    <div class="mx-auto w-50">
      <% @ingredients_hash.each do |ingredient_id, ammount| %>
        <div class="d-flex align-items-center separator-bottom py-3 ">
          <div class="flex-grow-1 h-100 "><%= Ingredient.find(ingredient_id).name %></div>
          <div class="flex-grow-0 text-right"><%= "#{ammount} #{Ingredient.find(ingredient_id).recipe_ingredients.first.unit}" %></div>
          <input class="form-check-input" type="checkbox" value="meat" id="defaultCheck1">
        </div>
      <% end %>
    </div>
  </div>

</div>
