<div class="container text-center">
  <h3 class="py-3"><strong>Create your group</strong></h3>

  <div id="form">
    <%= simple_form_for @event do |e| %>
      <%= e.input :title %>
      <%= e.input :number_of_members, as: :numeric %>

  <h4 class="py-3 pt-5">Dietary restrictions</h4>
    <div>
      <% Option.all.each do |o| %>
      <div class="oval"><%= o.name %></div>
      <% end %>
    </div>

    <h4 class="py-3 pt-5">Dietary restrictions</h4> 

    <% Option.all.each do |o| %>
      <div class="oval clickable"> <%= o.name %> </div>
    <% end %>

    <% Option.all.each do |o| %>
      <%= simple_fields_for :options do |of| %>
        <%= of.input o.name.to_sym, as: :hidden %>
      <% end %>
    <% end %>
  </div>

      <div class="py-5">
      <%= e.submit "Next →", class: "white btn start" %>
  <% end %>
  </div>

</div>
