
<%= content_for :footer do %>
  ""
<% end %>

<div class="row align-self-center home-background" style="height:100%; opacity: 0.9;">

  <div class="text-center" style="margin-right: 35%; margin-left: 35%">
    <div>
      <h3 class="py-3 pt-4 green"><strong>Create your group</strong></h3>
      <div class="mx-auto mt-3 w-75">
        <%= simple_form_for @event do |e| %>
          <%= e.input :title, label: 'Group Name', input_html: { id: "event-form-title", class: "fill-in"  } %>
          <%= e.input :number_of_members, as: :numeric, as: :hidden %>
          <div class="d-flex justify-content-center mt-0 calendar w-100 pt-2 justify-content-center" style="border-radius: 30px;">
            <%= e.input :start_date, as: :string, input_html: {id: "range_start", class: "dates text-center no-highlight" } %>
            <%= e.input :end_date, as: :string, input_html: {id: "range_end", class: "dates text-center no-highlight" } %>
          </div>

          <label for="Number of Members" class="mt-4">Number of members: </label>

          <div class="row justify-content-center">

          <div class="row justify-content-center">
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-1" style="height: 40px;">1</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-2" style="height: 40px;">2</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-3" style="height: 40px;">3</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-4" style="height: 40px;">x4</div>

            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-5" style="height: 40px;">5</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-6" style="height: 40px;">6</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-7" style="height: 40px;">7</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-8" style="height: 40px;">8</div>

            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-9" style="height: 40px;">9</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-10" style="height: 40px;">10</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-11" style="height: 40px;">11</div>
            <div class="col-3 btn btn-highlight-green oval clickable mx-2 my-1" id="number-12" style="height: 40px;">12</div>
          </div>

          </div>

          <h6 class="pb-2 pt-4">Dietary Preferences</h6>
          <div id="simple_field_for_event_options" class="d-flex row justify-content-center">
            <%= simple_fields_for :event_options do |of| %>
              <div class="d-flex row justify-content-center">
                <% Option.all.each do |o| %>
                  <div> <%= of.input o.name.to_sym, label_html: { class: "btn btn-highlight-green oval clickable p-2 m-0" }, as: :boolean, id: "event_options_#{o.name}" %></div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="pb-5 pt-2">
            <%= e.submit "Next →", class: "btn btn-green w-75 oval-green" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>
