<div class="container">
<h3><strong>Create your group</strong></h3>

<div id="form ">
  <%= simple_form_for @event do |e| %>
    <%= e.input :title %>
    <%= e.input :number_of_members, as: :numeric %>

  <div>
    <% Option.all.each do |o| %>
    <%= o.name %>
    <% end %>
  </div>

  <%= e.submit "Submit", class: "white btn start" %>
  <% end %>
</div>

</div>
