
<%= content_for :footer do %>
  ""
<% end %>

<div class="row align-self-center home-background" style="height:100%; opacity: 0.9;">
<!-- <div class="block py-3 pb-4 w-75 mx-auto"> -->

  <div class="text-center" style="margin-right: 35%; margin-left: 35%">
    <div>
      <h3 class="py-3 pt-5 green"><strong>Create your group</strong></h3>
      <div class="mx-auto">
        <%= simple_form_for @event do |e| %>
          <%= e.input :title, label: 'Group Name', input_html: { id: "event-form-title" } %>
          <%= e.input :number_of_members, as: :numeric, as: :hidden %>
          <div class="d-flex justify-content-center">
            <%= e.input :start_date, as: :string, input_html: {id: "range_start", class: "mr-1" } %>
            <%= e.input :end_date, as: :string, input_html: {id: "range_end" , class: "ml-1" } %>
          </div>

          <label for="Number of Members">Number of members: </label>

          <div class="row justify-content-center">
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-1">1</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-2">2</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-3">3</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-4">4</div>

            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-5">5</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-6">6</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-7">7</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-8">8</div>

            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-9">9</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-10">10</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-11">11</div>
            <div class="col-3 number-box btn btn-green oval clickable mx-3 py-2 my-2" id="number-12">12</div>
          </div>

          <h5 class="py-2 pt-4">Dietary Preferences</h5>
          <div id="simple_field_for_event_options" class="d-flex align-items-center">
            <%= simple_fields_for :event_options do |of| %>
            <div class="cards">
              <% Option.all.each do |o| %>
              <div> <%= of.input o.name.to_sym, label_html: { class: "btn btn btn-light-green oval clickable" }, as: :boolean, id: "event_options_#{o.name}" %></div>
              <!-- poner una class en el div de arriba para  que wrappee y no siga ad infinitum en la misma linea-->
              <% end %>
              </div>
            <% end %>
          </div>
          <div class="pb-5 pt-2">
            <%= e.submit "Next →", class: "btn btn-green w-75 oval-green" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>
