<div class="container text-center">
  <h3 class="py-3"><strong>Create your group</strong></h3>

  <div class="w-50 mx-auto">
    <%= simple_form_for @event do |e| %>
    <%= e.input :title %>
    <%= e.input :number_of_members, as: :numeric %>

      <h4 class="py-3 pt-5">Dietary restrictions</h4>
      <div id="simple_field_for_event_options">
        <%= simple_fields_for :event_options do |of| %>
          <% Option.all.each do |o| %>
            <%= of.input o.name.to_sym, label_html: {class: "oval clickable"}, as: :boolean, id: "event_options_#{o.name}" %>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="py-5">
    <%= e.submit "Next →", class: "btn btn-green" %>

    <% end %>
  </div>

</div>
