<%= content_for :metadata do %>
  <title>Selected meals</title>
  <meta description="ReadyMeals is a platform...">
<% end %>

<%= content_for :navbar do %>
  ""
<% end %>

<div class="d-flex">

  <% if  @event.meals.count == 0  %>

    <div class="white-background">
      <%= render 'shared/navbar' %>
      <h3 class="text-center py-5"><strong>Choose your meals!</strong></h3>
      <div class="block">
        <div class="card-containter row big-cards-setup">
          <div class="cards">
            <%= render 'recipes' %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="white-background">
      <%= render 'shared/navbar' %>
      <h3 class="text-center py-5"><strong>Choose your meals!</strong></h3>
      <div class="block">
        <div class="card-containter row big-cards-setup">
          <div class="sidebox-cards">
            <%= render 'recipes' %>
          </div>
        </div>
      </div>
    </div>

    <div class="position-fixed h-100" id="sidebox" style="right: 0px;">
      <div class="card sidebox container">
        <h6 class="py-3"><strong>Review</strong></h6>

        <div class="selection container pb-3">
          <% @recipes.each do |recipe| %>
            <% unless @event.meals_with_recipe(recipe).empty? %>
              <div class="d-flex  my-3">
                <%= cl_image_tag recipe.photo.key, class: "tiny-card" %>
                <p class="m-0 align-self-center ml-2"><%= recipe.name %></p>
                <div class="d-flex align-self-center ml-auto p-2">
                  <%= link_to "-", event_meal_path(@event, @event.meals_with_recipe(recipe).first), method: :delete, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false  %>
                  <p class="m-0 mr-1 align-self-center"><%= @event.meals_with_recipe(recipe).count %></p>
                  <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false  %>
                </div>
              </div>
            <% end %>
          <% end %>
          <p class="oval btn mt-1 w-100" id="add">Remove all</p>
        </div>

        <h6 class="mt-4"><strong>Total number of meals:</strong> <%= @event.meals.count %> </h6>
        <%= link_to event_path(@event), method: :get, id: :btn do %>
          <div class="btn btn-green w-100 oval">Next →</div>
        <% end %>

      </div>
    </div>

  <% end %>

</div>


<!-- PARA MOBILE -->
<!-- <div>
    <a class="btn btn-green" id="sidebar-toggle-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Cart</a>
    <div class="collapse sidebox" id="collapseExample">
      <div class="card">
        <h4 class="pt-3 text-center">Summary</h4>
        <% @recipes.each do |recipe| %>
          <% unless @event.meals_with_recipe(recipe).empty? %>
            <div class="d-flex py-3 ml-3">
              <p class="m-0 mr-2 green"><%= recipe.name %></p>
              <div class="d-flex align-items-center">
                <%= link_to "-", event_meal_path(@event, @event.meals_with_recipe(recipe).first), method: :delete, class: "text-decoration-none btn-amount"%>
                <p class="m-0 mx-3"><%= @event.meals_with_recipe(recipe).count %></p>
                <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn-amount"%>
              </div>
            </div>
          <% end %>
        <% end %>
        <h6 class="ml-3">Total number of meals: <%= @event.meals.count %> </h6>
      </div>
    </div>
  </div>
</div> -->
