<%= content_for :metadata do %>
  <title>Selected meals</title>
  <meta description="ReadyMeals is a platform...">
<% end %>

<%= content_for :navbar do %>
  ""
<% end %>

<div class="d-flex">

  <% if  @event.meals.count == 0  %>

    <div class="white-background w-100">
      <%= render 'shared/navbar' %>
      <h3 class="text-center pt-5"><strong>Choose your meals!</strong></h3>

    <div class="px-4" id="search-bar" style="background-color: rgb(236, 237, 254); margin-right: 41%; margin-left: 41%; border-radius: 30px;">
      <%= form_tag event_select_meals_path(@event), method: :get, class:"d-flex mx-auto my-4 justify-content-between" do %>
        <div class="align-self-center">
        <select data-placeholder="Browse!" class="select2 " name="query" multiple="multiple">
          <option value=""></option>
          <% possible_searchs.each do |search| %>
            <option value="<%= search %>"><%= search %></option>
          <% end %>
        </select>
        </div>
        <div class="d-flex btn btn-search my-2">
          <i class="fas fa-search align-self-center py-0"></i>
          <%= submit_tag "Search", class: "btn btn-search py-0" %>
        </div>
      <% end %>
    </div>


      <div class="block">
        <div class="card-containter">
          <div class="cards">
            <%= render 'recipes' %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="white-background">
      <%= render 'shared/navbar' %>
      <h3 class="text-center pt-5"><strong>Choose your meals!</strong></h3>
      <%= form_tag event_select_meals_path(@event), method: :get, class:"w-25 mx-auto d-flex my-4" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your recipe!"
        %>
        <%= submit_tag "Search", class: "btn btn-green" %>
      <% end %>
      <div class="block">
        <div class="card-containter">
          <div class="sidebox-cards">
            <%= render 'recipes' %>
          </div>
        </div>
      </div>
    </div>

    <div class="position-fixed h-100" id="sidebox" style="right: 0px;">
      <div class="card sidebox container px-4">

        <h5 class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="padding-left: 0px!important;">
          <strong>Selected Meals</strong>
        </h5>

        <h6 class="py-3"><strong>Review</strong></h6>

        <div class="selection-box pb-3">
          <% @recipes.each do |recipe| %>
            <% unless @event.meals_with_recipe(recipe).empty? %>
              <div class="d-flex my-3">
                <%= cl_image_tag recipe.photo.key, class: "tiny-card" %>
                <p class="m-0 align-self-center ml-2"><%= recipe.name %></p>
                <div class="d-flex align-self-center ml-auto p-2">
                  <%= link_to "-", event_meal_path(@event, @event.meals_with_recipe(recipe).first), method: :delete, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false %>
                  <p class="m-0 mr-1 align-self-center"><%= @event.meals_with_recipe(recipe).count %></p>
                  <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn oval", id: "plus-minus", remote: true, 'data-turbolinks-scroll': false  %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="d-flex mt-4 mb-3 justify-content-between">
            <h6>Total number of meals:</h6>
            <h6 class="pr-4"><%= @event.meals.count %> </h6>
          </div>
          <%= link_to "Remove all", event_meals_destroy_all_path(@event), method: :delete, class: "text-decoration-none oval btn w-100", id:"add", remote: true, 'data-turbolinks-scroll': false %>
        </div>

        <div class="container">
          <%= link_to event_path(@event), method: :get, id: :btn do %>
            <div class="btn btn-green w-100 oval-green mt-3">Next →</div>
          <% end %>
        </div>

      </div>
    </div>

  <% end %>

</div>


<!-- PARA MOBILE -->
<!-- <div>
    <a class="btn btn-green" id="sidebar-toggle-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Cart</a>
    <div class="collapse sidebox" id="collapseExample">
      <div class="card">
        <h4 class="pt-3 text-center">Summary</h4>
        <% @recipes.each do |recipe| %>
          <% unless @event.meals_with_recipe(recipe).empty? %>
            <div class="d-flex py-3 ml-3">
              <p class="m-0 mr-2 green"><%= recipe.name %></p>
              <div class="d-flex align-items-center">
                <%= link_to "-", event_meal_path(@event, @event.meals_with_recipe(recipe).first), method: :delete, class: "text-decoration-none btn-amount"%>
                <p class="m-0 mx-3"><%= @event.meals_with_recipe(recipe).count %></p>
                <%= link_to "+", event_meals_path(@event, recipe_id: recipe), method: :post, class: "text-decoration-none btn-amount"%>
              </div>
            </div>
          <% end %>
        <% end %>
        <h6 class="ml-3">Total number of meals: <%= @event.meals.count %> </h6>
      </div>
    </div>
  </div>
</div> -->
