
<div class="container">

  <div class="d-flex justify-content-between mb-3 pt-5">
    <div class="subtitles align-self-center">
      <p class="">02.03.2021 - 05.03.2021</p>
    </div>
    <div class="align-self-center">
      <h2 class="text-center green"><%= @event.title %></h2>
      <p class="subtitles text-center"> <%= @event.number_of_members %> members</p>
    </div>
    <div class="mb-4 align-self-center d-flex">
      <%= link_to ingredient_list_path(@event), class:"no-text-decoration" do %>
      <div class="main-rectangular-card">
        <%= image_tag "List_of_ingredients.png" %>
        <p class="green text-center my-0 mx-2 flex-fill">List of ingredients</p>
      </div>
      <% end %>
    </div>
  </div>


  <div class="">
    <% @event.meals.each do |meal| %>

    <div class="d-flex p-3">


      <div class="mx-auto">
        <a data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">
          <div class="py-5 selection-box px-5 m-2 d-flex m-3">
            <%= cl_image_tag meal.recipe.photo.key, class: "medium-card" %>
            <div class="pl-4 align-self-center">
              <h5 class="separator-bottom pb-2 text green-link"> <%= meal.recipe.name%></h5>
            </div>
          </div>
        </a>
      </div>

      <div class="collapse multi-collapse" id="multiCollapseExample4">
        <div class="violet-card hover-big-card m-3 p-4">
          <p><strong>Instructions:</strong> <%= meal.recipe.instructions %></p>
          Ingredients:
          <% meal.recipe.ingredients.each do |ingredient| %>
          <%= ingredient.name %>  |
          <% end %>
        </div>
      </div>




    </div>

    <% end %>
  </div>


  <div class="">
    <% @event.meals.each do |meal| %>

    <div class="d-flex p-3">


      <div class="mx-auto">
        <a data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4">
          <div class="py-5 selection-box px-5 m-2 d-flex m-3">
            <%= cl_image_tag meal.recipe.photo.key, class: "medium-card" %>
            <div class="pl-4 align-self-center">
              <h5 class="separator-bottom pb-2 text green-link"> <%= meal.recipe.name%></h5>
            </div>
          </div>
        </a>
      </div>


      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <div class="py-5 violet-card hover-big-card m-3 p-4">

              <div class="d-flex justify-content-around">
                <div>
                  <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <h6><strong><em>Instructions</em></strong></h6>
                    <p class="text-center">↓</p>
                  </a>
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <%= meal.recipe.instructions %>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <a data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
                    <h6><strong><em>Ingredients</em></strong></h6>
                    <p class="text-center">↓</p>
                  </a>
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <% meal.recipe.ingredients.each do |ingredient| %>
                        <%= ingredient.name %>  |
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <a data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">
                    <h6><strong><em>Details</em></strong></h6>
                    <p class="text-center">↓</p>
                  </a>
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample3">
                        <%= meal.recipe.details %>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

    <% end %>
  </div>

</div>

