<div class="container">

  <div class="d-flex justify-content-between mb-3 pt-5">
    <div class="subtitles align-self-center">
      <p class=""><%= "#{@event.start_date.strftime("%e %b %Y")} - #{@event.end_date.strftime("%e %b %Y")}" %></p>
    </div>
    <div class="align-self-center">
      <h2 class="text-center green"><%= @event.title %></h2>
      <p class="subtitles text-center"> <%= @event.number_of_members %> members</p>
    </div>
    <div class="mb-4 align-self-center d-flex">
      <%= link_to ingredient_list_path(@event), class:"no-text-decoration" do %>
      <div class="main-rectangular-card">
        <%= image_tag "List_of_ingredients.png" %>
        <p class="green text-center my-0 mx-2 flex-fill">List of ingredients</p>
      </div>
      <% end %>
    </div>
  </div>


  <div>
    <% @recipe_hash.each do |recipe, ammount| %>

      <div class="d-flex p-3">

        <div class="mx-auto">
          <a class="no-text-decoration-card" data-toggle="collapse" href=<%= "#multiCollapseExample#{recipe.id}" %> role="button" aria-expanded="false" aria-controls=<%= "multiCollapseExample#{recipe.id}" %>>
            <div class="py-5 selection-box px-4 m-2 d-flex">
              <%= cl_image_tag recipe.photo.key, class: "medium-card ml-2" %>
              <div class="pl-4 align-self-center">
                <h5 class="separator-bottom pb-2 text green-link"> <%= recipe.name%> ⇢</h5>
              </div>
              <h5 class="ml-auto green micro-letter"><%= "x#{ammount}" %></h5>
            </div>
          </a>
        </div>

        <div class="collapse multi-collapse" id=<%= "multiCollapseExample#{recipe.id}" %>>
          <div class="violet-card hover-big-card m-3 p-4">
            <p><strong>Instructions:</strong> <%= recipe.instructions %></p>
            Ingredients:
            <% recipe.ingredients.each do |ingredient| %>
            <%= ingredient.name %>  |
            <% end %>
          </div>
        </div>




      </div>

    <% end %>
  </div>



</div>

