<div class="white-background">

  <div class="home-background text-center pr-5 green ">
    <h1 class="pt-5"> </h1>
    <h1 class="pt-5"><strong>Welcome back to <em>your</em> </strong></h1>
    <h1 class="pb-3"><strong>virtual kitchen</strong></h1>
    <h5>Where you can plan your meals for all events,</h5>
    <h5>be it a <em>sigle</em> dinner or a <em>whole trip</em></h5>
  </div>

  <div class="d-flex py-5 justify-content-center">
    <%= link_to events_path, class:"no-text-decoration" do %>
      <div class="main-rectangular-card mr-4">
        <%= image_tag "List_of_ingredients.png" %>
        <p class="green my-0 mx-2 mr-4 flex-fill">Go to all my events</p>
      </div>
    <% end %>
    <%= link_to new_event_path, class:"no-text-decoration" do %>
      <div class="main-rectangular-card ml-4">
        <%= image_tag "new-event.png" %>
        <p class="green my-0 mx-2 mr-4 flex-fill">New event!</p>
      </div>
    <% end %>
  </div>

  <div class="white-background pb-3">
    <div class="block py-3">
      <h3 class="pt-4 pb-1"><strong>Discover new recipes</strong></h3>
      <h6 class="pb-4">Find recipes you can add to your next event!</h6>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards pb-4">
              <% @recipes.first(12).each do |recipe| %>
                <div class="d-flex">
                  <%= cl_image_tag recipe.photo.key, class: "small-card" %>
                  <div class="align-self-center ml-3">
                    <h5><strong><%= recipe.name %></strong></h5>
                    <h6><%= recipe.ingredients.count%> ingredients</h6>
                  </div>
                  <i class="align-self-center ml-auto p-2 ml-3 mr-5 pr-5 heart fas fa-heart"></i>
                </div>
              <% end %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards pb-4">
              <% @recipes.last(12).each do |recipe| %>
                <div class="d-flex">
                  <%= cl_image_tag recipe.photo.key, class: "small-card" %>
                  <div class="align-self-center ml-3">
                    <h5><strong><%= recipe.name %></strong></h5>
                    <h6><%= recipe.ingredients.count%> ingredients</h6>
                  </div>
                  <i class="align-self-center ml-auto p-2 ml-3 mr-5 pr-5 heart fas fa-heart"></i>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


  <div class="black-background">
    <div class="block py-3">
      <h3 class="pt-4 pb-1 white"><strong>Your favourites</strong></h3>
      <h6 class="white pb-4">These have been your choices for you lastest events</h6>
      <div class="cards pb-4">
        <div>
          <%= cl_image_tag @recipes.find_by(name: "Tuna salad").photo.key, class: "big-card" %>
          <h5 class="pt-3 white"><%= @recipes.find_by(name: "Tuna salad").name %></h5>
        </div>
        <div>
          <%= cl_image_tag @recipes.find_by(name: "Sushi").photo.key, class: "big-card" %>
          <h5 class="pt-3 white"><%= @recipes.find_by(name: "Sushi").name %></h5>
        </div>
        <div>
          <%= cl_image_tag @recipes.find_by(name: "Buckwheat cake").photo.key, class: "big-card" %>
          <h5 class="pt-3 white"><%= @recipes.find_by(name: "Buckwheat cake").name %></h5>
        </div>
        <div>
          <%= cl_image_tag @recipes.find_by(name: "Veggie nachos").photo.key, class: "big-card" %>
          <h5 class="pt-3 white"><%= @recipes.find_by(name: "Veggie nachos").name %></h5>
        </div>
      </div>
    </div>
  </div>

<div class="block py-5 w-50 mx-auto">
  <form class="pb-5">
    <h3 class="green pt-3 pb-2 text-center"><strong>Let us know what you think!</strong> </h3>
    <div class="form-group py-2">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name & Surname" style="border-radius: 15px!important;">
    </div>
    <div class="form-group pb-2">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail address" style="border-radius: 15px!important;">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Have you found what you were looking for?" style="border-radius: 15px!important;"></textarea>
    </div>
    <%= link_to home_path, method: :get, id: :btn do %>
      <div class="text-center pt-2">
        <div class="btn btn-green w-25 justify-content-center">Review!</div>
      </div>
    <% end %>
  </form>
</div>






