<div class="white-background">

  <div class="container">
    <h3 class="pt-4 pb-3 text-center green"><strong>Welcome back!</strong></h3>
    <div class="d-flex pb-3 justify-content-center">
      <%= link_to events_path, class:"no-text-decoration" do %>
      <div class="lilac-rectangular-card mr-4">
        <%= image_tag "List_of_ingredients.png" %>
        <p class="green my-0 mx-2 flex-fill">Go to all my events</p>
      </div>
      <% end %>

      <%= link_to new_event_path, class:"no-text-decoration" do %>
      <div class="lilac-rectangular-card ml-4">
        <%= image_tag "yellow_plus.png" %>
        <p class="green my-0 mx-2 flex-fill">New event!</p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="light-violet-block p-3 mt-4">
    <div class="d-flex ml-4 pl-4">
      <div class="mb-4 ml-4 mr-5 align-self-center">
        <h4><strong>Event coming up next:</strong></h4>
        <h4><%= @nextevent.title %></h4>
      </div>

      <div class="ml-4 mt-2 pr-4 w-25">
        <h6 class="mb-2"> Dining members:  <%= @nextevent.number_of_members %></h6>
        <h6 class="mb-2"> Meals to be prepared:  <%= @nextevent.meals.count %></h6>
        <h6 class="mb-2"> Day meals:  <%= (@nextevent.meals.count)/2 %></h6>
        <h6 class="mb-2"> Night meals:  <%= (@nextevent.meals.count)/2 %></h6>
        <!-- <img src="https://source.unsplash.com/400x300/?yummy,food" alt="" class="mini-card mb-3"> -->
      </div>

      <div class="pl-4 separator mr-4 w-25">
        <h6 class="mt-3">Shop at once for all you'll need!</h6>
        <%= link_to ingredient_list_path(@nextevent), class:"no-text-decoration" do %>
        <div class="lilac-rectangular-card">
          <%= image_tag "List_of_ingredients.png" %>
          <p class="green text-center my-0 mx-2 flex-fill">List of ingredients</p>
        </div>
        <% end %>
      </div>

      <div class="pl-4 separator w-25">
        <h6 class="mt-3">Dietary preferences:</h6>
        <p>PREFERENCIAS ELEGIDAS</p>

      </div>

    </div>
  </div>

  <div class="white-background">
    <div class="block pt-3">
      <h3 class="green pb-3"><strong>Discover new recipes and add them to your favourites!</strong></h3>
      <div class="cards overflow-hidden">

        <% 8.times do %>
        <div class="d-flex">
          <%= image_tag "https://source.unsplash.com/80x80/?yummy,food", class: "small-card" %>
          <div class="align-self-center ml-3">
            <h5 class="green">Pecan pie</h5>
            <h6 class="grayish">4 ingredients</h6>
          </div>
          <div class="align-self-center ml-auto p-2 ml-3 mr-5 pr-5">♡</div>
        </div>
        <% end %>

      </div>
    </div>
  </div>



  <div class="white-background">
    <div class="block py-5">


      <div id="form">

        <h4 class="py-1 pt-3">Your saved dietary preferences</h4>

        <% Option.all.each do |o| %>
        <div class="oval clickable px-3"> <%= o.name %> </div>
        <% end %>

        <% Option.all.each do |o| %>
        <%= simple_fields_for :options do |of| %>
        <%= of.input o.name.to_sym, as: :hidden %>
        <% end %>
        <% end %>
      </div>

      <h4 class=my-4>Your favourites:</h4>
      <div class="cards">
        <div class="mb-5">
          <img src="https://source.unsplash.com/400x300/?yummy,food" alt="" class="mini-card mb-3">
          <p class="m-0 text-center"><%= @nextevent.meals.first.recipe.name %></p>
        </div>
        <div>
          <img src="https://source.unsplash.com/400x300/?yummy,food" alt="" class="mini-card mb-3">

        </div>
      </div>

      <div class="light-violet-block p-3">
        <h4>Your last event:</h4>
        <h4 class="mb-4"><%= @lastevent.title %></h4>
        <h6 class="mb-2"> Dining members:  <%= @lastevent.number_of_members %></h6>
        <h6 class="mb-2"> Meals prepared:  <%= @lastevent.meals.count %></h6>
        <h6 class="pt-4">Rate it!</h6>
        <h6>☆ ☆ ☆ ☆ ☆</h6>
      </div>


    </div>
  </div>
</div>
