<div class="block">
  <h3 class="text-center pt-5 green"><strong>Browse <em>all</em> recipes</strong></h3>
  <h6 class="text-center pb-1 green"><strong>and start choosing the right ones for your next event</strong></h6>
  <div class="px-4" id="search-bar" style="background-color: rgb(236, 237, 254); margin-right: 41%; margin-left: 41%; border-radius: 30px;">
    <%= form_tag recipes_path, method: :get, class:"d-flex mx-auto my-4 justify-content-between" do %>
      <div class="align-self-center">
        <select data-placeholder="Browse!" class="select2 " name="query" multiple="multiple">
          <option value=""></option>
          <% possible_searchs.each do |search| %>
          <option value="<%= search %>"><%= search %></option>
          <% end %>
        </select>
        </div>
        <div class="d-flex btn btn-search my-2">
          <i class="fas fa-search align-self-center py-0"></i>
          <%= submit_tag "Search", name: nil , class: "btn btn-search py-0" %>
        </div>
      <% end %>
    </div>

</div>


<div class="d-flex m-5 row mx-auto">
  <% @recipes.each do |recipe| %>

  <div class="d-flex p-3">


    <div class="mx-auto">
      <a class="no-text-decoration-card" data-toggle="collapse" href=<%= "#multiCollapseExample#{recipe.id}" %> role="button" aria-expanded="false" aria-controls=<%= "multiCollapseExample#{recipe.id}" %>>
        <div class="ml-auto py-5 selection-box px-5 m-2 d-flex m-3">
          <%= cl_image_tag recipe.photo.key, class: "medium-card" %>
          <div class="pl-4 align-self-center">
            <h5 class="separator-bottom pb-2 text green-link"> <%= recipe.name%></h5>
          </div>
        </div>
      </a>
    </div>

    <div class="collapse multi-collapse" id=<%= "multiCollapseExample#{recipe.id}" %>>
      <div class="violet-card hover-big-card m-3 p-4">
        <p><strong>Instructions:</strong> <%= recipe.instructions %></p>
        Ingredients:
        <% recipe.ingredients.each do |ingredient| %>
          <%= ingredient.name %>  |
        <% end %>
      </div>
    </div>




  </div>

<% end %>
</div>
