<div class="white-background">
  <div class="block py-5 green-speckled-background text-center">
    <%= link_to home_path, class: "navbar-brand pb-5" do %>
    <%= image_tag "readymeals-logo.png", class:"w-25" %>
    <% end %>
    <div class="block py-3 text-center">
      <h1 class="green"><strong>Join the millions using ReadyMeals</strong></h1>
      <h1 class="green"><strong>and plan your meals in under 2 minutes!</strong></h1>
      <p class="green pt-2">Explore a world of recipes you didn't even know existed</p>
    </div>
    <div class="d-flex justify-content-center">
      <% if user_signed_in? %>
      <%= link_to home_path, method: :get, id: :btn do %>
      <div class="btn btn-green">Get started</div>
      <% end %>
      <% else %>
      <%= link_to new_user_session_path, method: :get, id: :btn do %>
      <div class="btn btn-green">Get started</div>
      <% end %>
      <% end %>
      <div class="green ml-2 my-auto">in 1 minute</div>
    </div>
  </div>


  <div class="green-background d-flex justify-content-center">
    <div class="block py-5 align-self-center">
      <h2 class="white pt-5">Your <strong>shopping list and recipes</strong></h2>
      <h2 class="white"> tailored according to your needs, </h2>
      <h2  class="white pb-5">all in one place.</h2>
    </div>
    <%= image_tag "sample_food.png", class: "sample_food my-5" %>
  </div>

  <div class="white-background">
    <div class="block py-5">
      <h3 class="green pb-5"><strong>Our all time favourites</strong></h3>
      <div class="cards overflow-hidden">

        <% @recipes.first(8).each do |recipe| %>
          <div class="d-flex">
            <%= cl_image_tag recipe.photo.key, class: "small-card" %>
            <div class="align-self-center ml-3">
              <h5 class="green"><%= recipe.name %></h5>
              <h6 class="lilac"><%= recipe.ingredients.count%> ingredients</h6>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="white-background">
    <div class="block  py-5">
      <h3 class="green pb-3"><strong>New desserts added this week!</strong></h3>
      <div class="cards overflow-hidden">


        <div class="card-containter">
          <%= cl_image_tag @recipes.find_by(name: "Chocolate cake").photo.key, class: "big-card"%>
          <h5 class="green pt-3"><%= @recipes.find_by(name: "Chocolate cake").name %></h5>
        </div>

        <div class="card-containter">
          <%= cl_image_tag @recipes.find_by(name: "Mousse").photo.key, class: "big-card"%>
          <h5 class="green pt-3"><%= @recipes.find_by(name: "Mousse").name %></h5>
        </div>

        <div class="card-containter">
          <%= cl_image_tag @recipes.find_by(name: "Chocotorta").photo.key, class: "big-card"%>
          <h5 class="green pt-3"><%= @recipes.find_by(name: "Chocotorta").name %></h5>
        </div>

        <div class="card-containter">
          <%= cl_image_tag @recipes.find_by(name: "Lemon squares").photo.key, class: "big-card"%>
          <h5 class="green pt-3"><%= @recipes.find_by(name: "Lemon squares").name %></h5>
        </div>

      </div>
    </div>
  </div>

  <div class="white-background">
    <div class="pt-5 pb-3 block py-3 text-center">
      <h1 class="green"><strong>Planned recipes at the ready.</strong></h1>
      <h1 class="green"><strong>None of the hassle</strong></h1>
      <p class="green pt-2">Decide what to eat for days in under 2 minutes!</p>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to new_event_path, method: :get, id: :btn do %>
      <div class="btn btn-green">Get started</div>
      <% end %>
      <p class="green my-auto mx-3"> or </p>
      <%= link_to "Login", new_user_session_path, class: "green-link d-flex my-auto" %>

    </div>
  </div>

</div>
