<!DOCTYPE html>
<html>
  <head>
    <title>ReadyMeals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless action_name == "welcome" %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>

      <div class="footer-help">
        <p class="mx-2"> <% link_to help_path%>Help</p>
        <p class="mx-2"> <% link_to about_path %> About</p>
        <p class="mx-2"> <% link_to contact_path %> Contact</p>
      </div>

      <p> ® Ready Meals 2021</p>

    </div>
  </body>
</html>
