<!DOCTYPE html>
<html>
  <head>

    <% if content_for?(:metadata) %>
      <%= yield :metadata %>
    <% else %>
      <title>ReadyMeals</title>
      <meta description="ReadyMeals is a platform...">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless action_name == "welcome"%>
      <% unless content_for? :navbar %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
    <% end %>

    <%= yield %>

    <div class="footer justify-content-between">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-links ">
        <p class="mx-2"> <%= link_to "Help", help_path, class: "footer"%>  </p>
        <p class="mx-2" > <%= link_to "About", about_path, class: "footer" %></p>
        <p class="mx-2"> <%= link_to "Contact", contact_path, class: "footer" %></p>

      </div>
      <p class="subtitles"> ® Ready Meals 2021</p>

    </div>
  </body>
</html>
